.likeBlack {
  background-size: 100% 100%;
  background-image: url("./assets/likeBlack.png");
  background-repeat: no-repeat;
}

.likeBlue {
  background-size: 100% 100%;
  background-image: url("./assets/likeBlue.png");
  background-repeat: no-repeat;
}